.app__catalogue {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: space-around;
}

.app__catalogue h2 {
    color: var(--color-30);
    padding: 2rem 3rem;
    font-size: 26px;
}

.app__catalogue-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app__catalogue-filters form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__catalogue-filters-search {
    width: 70%;
    height: 24px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.app__catalogue-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.app__catalogue-filters-top {
    color: var(--color-30Text);
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 2rem;
}

.app__catalogue-filters-top-platforms,
.app__catalogue-filters-top-genres,
.app__catalogue-filters-top-rating,
.app__catalogue-filters-top-stores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__catalogue-filters-bottom {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.app__catalogue-filters-bottom button,
.app__catalogue-filters-bottom input {
    height: 30px;
    width:240px;
    letter-spacing: 0.05em;
    background: var(--color-10);
    color: #fff;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

.app__catalogue-filters-bottom button:hover,
.app__catalogue-filters-bottom input:hover,
.app__catalogue-loadMore button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}

.app__catalogue-filters-bottom button:active,
.app__catalogue-filters-bottom input:active,
.app__catalogue-loadMore button:active {
    opacity: 0.35;
}

.app__catalogue-loadMore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__catalogue-loadMore button {
    height: 30px;
    width:240px;
    letter-spacing: 0.05em;
    background: var(--color-10);
    color: #fff;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px;
    margin: 2rem 0 3rem 0;
}

@media screen and (max-width:1650px) {
    .app__catalogue-filters-bottom {
        width: 40%;
    }
}

@media screen and (max-width:1400px) {
    .app__catalogue-filters-top {
        width: 85%;
    }
}

@media screen and (max-width:1250px) {
    .app__catalogue-filters-top {
        width: 90%;
        justify-content: space-evenly;
    }

    .app__catalogue-filters-bottom {
        width: 80%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:1050px) {
    .app__catalogue-filters form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .app__catalogue-filters-top {
        flex-direction: column;
        align-items: start;
        width: auto;
    }

    .app__catalogue-filters-top-platforms,
    .app__catalogue-filters-top-genres,
    .app__catalogue-filters-top-rating,
    .app__catalogue-filters-top-stores {
        margin-bottom: 1rem;
        align-items: start;
    }

    .app__catalogue-filters-bottom {
        flex-direction: column;
        width: auto;
    }

    .app__catalogue-filters-bottom input,
    .app__catalogue-filters-bottom button {
        margin: 1rem 0;
        height: 40px;
    }

}

@media screen and (max-width:600px) {
    .app__catalogue-filters form {
        flex-direction: column;
    }
    .app__catalogue-filters-top {
        width: auto;
        margin: 0;
    }
}

@media screen and (max-width:350px) {
    .app__catalogue h2 {
        padding: 2rem 10px;
        text-align: center;
    }

    .app__catalogue-filters-top {
        padding: 0 10px;
    }
    
    .app__catalogue-filters-top-platforms select,
    .app__catalogue-filters-top-stores select,
    .app__catalogue-filters-top-genres select,
    .app__catalogue-filters-top-rating select {
        font-size: 12px;
        width: 95% ;
        overflow-x: scroll;

    }
}


