.app__screenshotScroll {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-10);
    margin: 2rem;
    padding: 0 2rem;
    border-radius: 20px;
}

.app__screenshotScroll h1 {
    padding: 3rem 0 2rem 0;
}

.app__screenshotScroll-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem ;

}

.app__screenshotScroll-content-arrow_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 2rem 0;
    user-select: none;
}

.app__screenshotScroll-content-arrow_container:hover {
    opacity: 0.5;
    background: var(--color-30);
}

.app__screenshotScroll-content h1 {
    padding: 0 2rem 0 2rem;
    display: flex;
    font-size: 48px;
    text-align: center;
}

.app__screenshotScroll-content-gallery {
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
    align-items: center;

}

.app__screenshotScroll-content-gallery a:hover {
    transition: 0.2s ease;
}

.app__screenshotScroll-content-gallery a:hover {
    padding-bottom: 2rem;
}

.app__screenshotScroll-content-gallery a:active {
    opacity: 0.35;
}

.app__screenshotScroll-content-gallery::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.app__screenshotScroll-content-gallery img {
    width: 640px;
    height: 340px;
    margin: 0.5rem 0.3rem;
    border-radius: 20px;
}

@media screen and (max-width:1000px) {
    .app__screenshotScroll {
        padding: 0;
    }

    .app__screenshotScroll h1 {
        padding: 2rem 2rem;
    }

    .app__screenshotScroll-content-gallery img {
        width: 320px;
        height: 170px;

    }

    .app__screenshotScroll-content-arrow_container h1{
        padding: 10px;
    }
}

@media screen and (max-width:750px) {
    .app__screenshotScroll-content-gallery img {
        width: 180px;
        height: 140px;

    }

}

@media screen and (max-width:550px) {
    .app__screenshotScroll-content-gallery img {
        width: 150px;
        height: auto;

    }

    .app__screenshotScroll h1 {
        font-size: 18px;
        padding: 2rem 1rem 0 1rem;
    }

    .app__screenshotScroll-content-arrow_container h1{
        padding: 10px;
    }

}

@media screen and (max-width:350px) {
    .app__screenshotScroll {
        width: 90%;
        padding: 0;
        margin: 10px;
    }

    .app__screenshotScroll h1 {
        text-align: center;
    }

    .app__screenshotScroll-content-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .app__screenshotScroll-content-gallery img {
        width: 120px;
        height: auto;

    }

    .app__screenshotScroll-content-arrow_container{
        display: none;
    }

}