.app__aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.app__aboutUs h1 {
    color: var(--color-30);
    margin: 6rem 1rem;
    text-align: center;

}

.app__aboutUs p {
    color: var(--color-30Text);
    margin: 1.3rem 1rem;
    width: 80%;
}

#app__aboutUs-happy  {
    color: var(--color-30);
}

.app__aboutUs-rawg {
    justify-self: end;
}

@media screen and (max-width: 550px) {
    .app__aboutUs h1 {
        font-size: 24px;
        margin: 5rem 1rem 1rem 1rem;
    
    }
    
    .app__aboutUs p {
        font-size: 13px;
    }
}